* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: hsl(0, 0%, 100%);
  --secondary-color: hsl(240, 5%, 65%);
  --gradient-color: linear-gradient(90deg, #9572fc, #43e7ad);
}
ul {
  list-style: none;
}
body {
  background-image: url(./assets/bg.jpg);
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #121214;
}
body * {
  font-family: 'Inter', sans-serif;
  line-height: 160%;
}
header {
  padding-top: 32px;
  height: calc(120px + 32px);
}
header div {
  width: 120px;
  margin: auto;
  background: var(--gradient-color);
  border-radius: 50%;
  display: flex;
  padding: 4px;
  transition: transform 0.3s;
  animation: fromTop 0.7s 0.4s backwards;
}
header div:hover {
  transform: scale(1.1);
}
header img {
  width: 100%;
  border-radius: 150%;
}
main {
  max-width: 580;
  width: 90%;
  margin: 32px auto;
  display: grid;
  gap: 24px;
}
main section {
  animation: fromBotton 0.7 0.4s backwards;
}
section {
  color: var(--primary-color);
  background: var(--gradient-color);
  padding-top: 4px;
  border-radius: 10px;
}
section div {
  background-color: #2a2634;
  padding: 28px;
  padding-top: 24px;
  border-radius: 8px;
}
section h2 {
  letter-spacing: -0.47px;
}
section p {
  letter-spacing: -0.18px;
  color: var(--secondary-color);
}
section ul {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 24px;
}
section ul li {
  transition: transform 0.3s;
}
section ul li:hover {
  transform: scale(1.1);
}
.games-list img {
  width: 90px;
  border-radius: 8px;
}
.channel-list img {
  border-radius: 50%;
  width: 70px;
  border: 1px solid #443e54;
  padding: 2px;
}
/* animation */

main section:nth-child(1) {
  animation-delay: 0;
}
main section:nth-child(2) {
  animation-delay: 0.4s;
}
main section:nth-child(3) {
  animation-delay: 0.8s;
}

@keyframes fromTop {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fromBotton {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
